<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,400;1,500&family=Volkhov&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">The Tech Blog</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/dashboard">{{username}}'s Dashboard</a>
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <button id="login-button" class="btn-no-style">
              <a href="/login">Login</a></button>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>

  </body>

</html>

{{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
{{/if}}